<mat-card class="project-style">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="title">Project</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <!--  Project1: Chatting application-->
  <mat-grid-list cols="5" rowHeight="100px" style="background-color: pink">
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card class="explanation-style">
        <mat-card-title class="projectTitle-style">Chatting app</mat-card-title>
        <mat-card-content>
          Facebook is an online social media and social networking service owned by American technology giant Meta
          Platforms. Created in 2004 by Mark Zuckerberg with fellow Harvard College students and roommates Eduardo
          Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes, its name derives from the face book directories
          often given to American university students. Membership was initially limited to only Harvard students,
          gradually expanding to other North American universities and, since 2006, anyone over 13 years old. As of
          December 2022, Facebook claimed 2.96 billion monthly active users,[6] and ranked third worldwide among the
          most
          visited websites.[7] It was the most downloaded mobile app of the 2010s.
        </mat-card-content>
        <mat-card-content>
          <span style="float: right">
          <button mat-button style="width: 20px">
            <img src="assets/GitHub_Logo.png" class="github-logo-style">
          </button>
            </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card>
        <video controls>
          <source src="https://youtu.be/MVbeoSPqRs4">
        </video>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--  Project 2: To be continued-->
  <mat-grid-list cols="5" rowHeight="100px" style="background-color: skyblue">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card>
        <video controls>
          <source src="https://youtu.be/MVbeoSPqRs4">
        </video>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card class="explanation-style">
        <mat-card-title class="projectTitle-style">Another amazing project</mat-card-title>
        <mat-card-content>
          Facebook is an online social media and social networking service owned by American technology giant Meta
          Platforms. Created in 2004 by Mark Zuckerberg with fellow Harvard College students and roommates Eduardo
          Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes, its name derives from the face book directories
          often given to American university students. Membership was initially limited to only Harvard students,
          gradually expanding to other North American universities and, since 2006, anyone over 13 years old. As of
          December 2022, Facebook claimed 2.96 billion monthly active users,[6] and ranked third worldwide among the
          most
          visited websites.[7] It was the most downloaded mobile app of the 2010s.
        </mat-card-content>
        <mat-card-content>
          <span style="float: right">
          <button mat-button style="width: 20px">
            <img src="assets/GitHub_Logo.png" class="github-logo-style">
          </button>
            </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
