<mat-card class="project-style">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="title">Project</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <!--  Project1: Chatting application-->
  <mat-grid-list cols="5" rowHeight="100px" style="background-color: pink">
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card class="explanation-style">
        <mat-card-title class="projectTitle-style">Automatic Trading app</mat-card-title>
        <mat-card-content>
          This app automates real time trading instead of human watching MTS or HTS all day.
          <ul>
            <li>Node.js</li>
            <li>React.js</li>
            <li>Trading platform API</li>
          </ul>
        </mat-card-content>
        <mat-card-content>
          <span style="float: right">
            <a mat-button style="width: 20px" href="https://github.com/GrandChampion/" target="_blank"><img
                src="assets/GitHub_Logo.png" class="github-logo-style"></a>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card>
        <video controls>
          <source src="https://youtu.be/MVbeoSPqRs4">
        </video>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--  Project 2: To be continued-->
  <mat-grid-list cols="5" rowHeight="100px" style="background-color: skyblue">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card>
        <video controls>
          <source src="https://youtu.be/MVbeoSPqRs4">
        </video>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card class="explanation-style">
        <mat-card-title class="projectTitle-style">Personal website</mat-card-title>
        <mat-card-content>
          This website uses angular.JS.
        </mat-card-content>
        <mat-card-content>
          <span style="float: right">
            <a mat-button style="width: 20px" href="https://github.com/GrandChampion/" target="_blank"><img
                src="assets/GitHub_Logo.png" class="github-logo-style"></a>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>