<mat-card class="aboutme-style">
  <mat-card-content class="image-style1">
    <div>
      <img src="assets/profile-image.jpg" class="image-style2">
    </div>
  </mat-card-content>
  <mat-card-content>
    My interest includes multimedia systems. Theoretical and practical issues in designing multimedia systems.
    Interactive multimedia, digital video broadcasting and streaming, media asset management, video indexing and
    retrieval, content protection, and design of multimedia middleware. In the mean time, I have interest in stock
    trading.
  </mat-card-content>
</mat-card>
