<mat-card class="aboutme-style">
  <mat-card-content class="image-style1">
    <div>
      <!-- <img src="assets/profile-image.jpg" class="image-style2"> -->
    </div>
  </mat-card-content>
  <mat-card-content>
    <p>
      Hi, my name is Yeongu Choe. I am a full stack software engineer specializing in Node.JS and React.jS.
      My interest includes multimedia systems. Practical issues in designing multimedia systems.
      Interactive multimedia, digital video broadcasting and streaming, media asset management, video indexing and
      retrieval, content protection, and design of multimedia middleware. In the mean time, I have interest in stock
      trading.
    </p>
    <br />
    <br />
    <br />
    Skills
    <ul>
      <li>As of 2023, I am fluent at programming C++, Python and JavaScript.</li>
      <li>I am expert at github, Vim and VScode</li>
    </ul>

  </mat-card-content>
</mat-card>