<mat-card class="aboutme-style">
  <mat-card-content class="image-style1">
    <div>
      <!-- <img src="assets/profile-image.jpg" class="image-style2"> -->
    </div>
  </mat-card-content>
  <mat-card-content>
    <p>
      Hi, my name is Yeongu Choe. I am a backend software engineer.
      My interest includes multimedia systems. Practical issues in designing multimedia systems.
      Interactive multimedia, digital video broadcasting and streaming, media asset management, video indexing and
      retrieval, content protection, and design of multimedia middleware. In the mean time, I have interest in stock
      trading.
    </p>
    <br />
    <br />
    <br />
    Skills
    <ul>
      <li>I have expertise in the five programming languages: 1) C++, 2) Java, 3) JavaScript, 4) TypeScript, 5) Go.</li>
      <li>Development tools I use are github, Vim and VScode</li>
    </ul>

  </mat-card-content>
</mat-card>