<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


</style>
<!--Header-->
<app-header-banner></app-header-banner>
<!--CV, github, Linkedin-->
<app-link-card></app-link-card>

<app-aboutme-card></app-aboutme-card>
<app-education-card></app-education-card>

<!--Project list card-->
<app-project-card></app-project-card>

<!--Hobby card-->
<app-hobby-card></app-hobby-card>

<!--Footer-->
<app-footer></app-footer>
