<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


</style>
<!--Header-->
<app-header-banner></app-header-banner>
<!--CV, github, Linkedin-->
<app-link-card></app-link-card>

<p>
  My interest includes multimedia systems. Theoretical and practical issues in designing multimedia systems. Interactive
  multimedia, digital video broadcasting and streaming, media asset management, video indexing and retrieval, content
  protection, and design of multimedia middleware.
  In the mean time, I have interest in stock trading.
</p>
<!--Education card-->
<app-education-card></app-education-card>

<!--Project list card-->
<app-project-card></app-project-card>

<!--Hobby card-->
<app-hobby-card></app-hobby-card>

<!--Footer-->
<app-footer></app-footer>
