<mat-card class="link-style">
  <mat-card-content>
    <a href="https://github.com/GrandChampion/" target="_blank">
      <button mat-icon-button>
        <img src="assets/CV.svg">
      </button>
    </a>
    <a href="https://github.com/GrandChampion/" target="_blank">
      <button mat-icon-button>
        <img src="assets/github-mark.svg">
      </button>
    </a>
    <a href="https://www.linkedin.com/in/yeongu/" target="_blank">
      <button mat-icon-button>
        <img src="assets/LI-In-Bug.png">
      </button>
    </a>
  </mat-card-content>
</mat-card>
