<mat-card class="education-style">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="title">Education</mat-card-title>
      <mat-card-subtitle>Bachelor of Science, Computer Science</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div class="tile-content">
        <img mat-card-lg-image src="assets/ubc%20logo.jpg">
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <div>
        I hold a bachelor of science in computer science from UBC (2024). I learned algorithms, software engineering computer architecture in the institution.
      <ul>
        <li>Algorithm: Greedy algorithm, Divide and Conquer, Dynamic programming</li>
        <li>Software engineering: UML, Design pattern</li>
        <li>Computer architecture: Assembly, pipelining, multithread</li>
      </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
