<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title><b class="title">Education</b></mat-card-title>
      <mat-card-subtitle>Bachelor of Science, Computer Science</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div class="tile-content">
        <img mat-card-lg-image src="assets/ubc%20logo.jpg">
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <div>
        The University of British Columbia (UBC), in VANCOUVER, was founded in 1908 by an Act of the provincial
        legislature. Before the University of British Columbia opened, higher education in BC was provided by
        denominational colleges affiliated with the universities of McMaster, Toronto and McGill. In 1910 a site at
        Point Grey was selected for UBC's Vancouver campus. The outbreak of the First World War delayed construction and
        UBC began operations at Fairview in 1915. Through its association with McGill, the university was provided with
        the nucleus of its first staff and basic curriculum in arts and science and engineering. In 1919, the Faculty of
        Agriculture was established; nursing and health programs also began, leading to the first degree course in the
        British Empire.
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
